<%= form_for(@record) do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item %><br>
    <%= f.text_field :item %>
  </div>
  <div class="field">
    <%= f.label "Description (Flag if buying in-store):" %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.select :category, Record.categories.keys %>
  </div>  
  <div class="field">
    <%= f.label "Unit Price ($CAD)" %><br>
    <%= f.number_field :price, :class => 'text_field', :step => 0.01 %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :supplier %><br>
    <%= f.text_field :supplier %>
  </div>
  <div class="field">
    <%= f.label :part_number %><br>
    <%= f.text_field :part_number %>
  </div>  
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <% if current_user.try(:admin?) %>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status, Record.statuses.keys %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
