<%= bootstrap_form_for(@record) do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :item %>
  </div>
  <div class="field">
    <%= f.text_area :description, placeholder: "Flag if buying in-store!", rows: 8 %>
  </div>
  <div class="field">
    <%= f.select :category, Record.categories.keys %>
  </div>  
  <div class="field">
    <%= f.number_field :price, :placeholder => "Unit Price ($CAD)", :class => 'text_field', :step => 0.01 %>
  </div>
  <div class="field">
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.text_field :supplier %>
  </div>
  <div class="field">
    <%= f.text_field :part_number%>
  </div>  
  <div class="field">
    <%= f.text_field :link %>
  </div>
  <% if current_user.try(:admin?) %>
  <div class="field">
    <%= f.select :status, Record.statuses.keys %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
