<p>
  <strong>Item:</strong>
  <%= @record.item %>
</p>

<p>
  <strong>Description:</strong>
  <%= @record.description %>
</p>

<p>
  <strong>Created On:</strong>
  <%= @record.created_at.strftime("%d %b %Y") %>
</p>

<p>
  <strong>Requested By:</strong>
  <%= @record.user_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @record.category %>
</p>

<p>
  <strong>Unit Price:</strong>
  <%= number_to_currency(@record.price) %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @record.quantity %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @record.supplier %>
</p>

<p>
  <strong>Link:</strong>
  <%= @record.link %>
</p>

<hr>

<p>
  <strong>Status:</strong>
  <%= @record.status %>
</p>

<p>
  <strong>Updated On:</strong>
  <%= @record.updated_at.strftime("%d %b %Y at %H:%M:%S") %>
</p>

<% if current_user.id == @record.user_id or current_user.admin? %>
  <%= link_to 'Edit', edit_record_path(@record) %> |
<% end %>

<%= link_to 'Back', records_path %>
