<h1>Team Roster
<small>2016/2017 UBC Chem-E-Car Members</small></h1>
<br>

<% if current_user.try(:admin?) %> 
<%= link_to 'All Users', action:"index" %> | 
<%= link_to 'Users Awaiting Approval', action:"index", approved:"false" %>
<% end %>

<hr>
<table class="table table-striped">
  <thead>
    <tr>
      <th>User ID</th>
      <th>Name</th>
      <th>Team</th>
      <th>Bio</th>
      <th>Contact</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.team.capitalize %></td>
        <td><%= user.biography %></td>
        <td><%= user.email %></td>
        <td>
        <% if user.approved == "true" %>
          <p class="bg-success">
        <% elsif user.approved == "false" %>
          <p class="bg-danger">
        <% end %>
        <%= user.approved %></p>
        </td>
        <td>
        <%= link_to "Details", admin_user_path(user) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
